.container{
  background: #fff;
  width:100%;
}
.aboutBox{
  width: 75%;
  margin:auto;
}
.aboutHiwhip{
  color: #14854C; 
  font-weight: bold;
  font-size: 18px;
}
.aboutContent{
  margin-top:20px;
  font-size: 12px;
  line-height: 20px;
  color:#ccc
}
.thanksBox{
  width:300px;
  margin:auto;
  margin-top:60px;
}
.thanksImg{
  width:100%;
}