.header-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  
}



.container{
  background: #fff;
  width:100%;
}
.container-banner {
  width: 100%;
  position: relative;
}
.container-banner img {
  width: 100%;
}
.container-banner .banner-us {
  position: absolute;
  top:  40.29%;
  left: 8.61%;
  width: 26.54%;
}
.aboutBox{
  width: 75%;
  margin: 60px auto;
}
.aboutHiwhip{
  color: #14854C; 
  font-weight: bold;
  font-size: 18px;
}
.aboutContent{
  margin-top:20px;
  font-size: 12px;
  line-height: 20px;
  color:#ccc
}
.thanksBox{
  width:300px;
  margin:auto;
  margin-top:60px;
}
.thanksImg{
  width:100%;
}
@media (max-width: 576px) {
  .header-container {
    position: relative;
  }
  .nav-item {
    padding: 10px 0;
  }
  .navbar-light .navbar-nav .nav-item .nav-link {
    color: #70706F
  }
  .aboutBox {
    width: 85%;
  }
}
.navbar-light .navbar-nav .nav-link {
  color:#fff
}