.header-container .header .header-item {
  color: #70706F;
}
.contact-banner {
  position: relative;
  width: 100%;
}
.contact-banner .banner {
  width: 100%;
}
.contact-banner .banner-us {
  position: absolute;
  top:  34.47%;
  left: 16.57%;
  width: 32.96%;
}
.contactUsBox{
  margin: 60px 0;
  width:100%;
  background: #fff;
}

.contacUS{
  width: 50%;
  margin:auto;
}

@media (max-width: 576px) {
  .contacUS {
    width: 80%;
  }
}
.contactTitle{
  font-size: 20px;
  font-weight: bold;
  color: #B0DB00;
  line-height: 17px;
}
.contactDetails{
  width:100%;
  font-size: 12px;
  color: #8C9398;
}
.details{
  display: inline-block;
  width: 100%;
}
.itemInput input{
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.06);
  border-radius: 19px;
  border:none;
  font-size:12px;
  padding-left:37px;
  outline:none;
  margin-bottom:32px;
  line-height: 38px;
}
.itemInput textarea{
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.06);
  border-radius: 19px;
  border:none;
  font-size:12px;
  padding-left:37px;
  outline:none;
  line-height: 60px;
  resize: none;
}
input::-webkit-input-placeholder { 
  color: #ccc; 
}
textarea::-webkit-input-placeholder { 
  color: #ccc; 
}
.infoBox{
  margin-top:95px;
}
.infoBox p{
  font-size: 12px;
  color: #ccc;
}