.contactUsBox{
  width:100%;
  background: #fff;
}
.contacUS{
  width: 60%;
  margin:auto;
}
.contactTitle{
  font-size: 20px;
  font-weight: bold;
  color: #B0DB00;
  line-height: 17px;
}
.contactDetails{
  width:100%;
  font-size: 12px;
  color: #8C9398;
}
.details{
  display: inline-block;
  width: 100%;
}
.itemInput input{
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.06);
  border-radius: 19px;
  border:none;
  font-size:12px;
  padding-left:37px;
  outline:none;
  margin-bottom:32px;
  line-height: 38px;
}
.itemInput textarea{
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.06);
  border-radius: 19px;
  border:none;
  font-size:12px;
  padding-left:37px;
  outline:none;
  line-height: 60px;
}
input::-webkit-input-placeholder { 
  color: #ccc; 
}
textarea::-webkit-input-placeholder { 
  color: #ccc; 
}
.infoBox{
  margin-top:95px;
}
.infoBox p{
  font-size: 12px;
  color: #ccc;
}