.footer {
    width:100%;
    background: #09070E;
    padding: 10%;
    margin:0;
}
.footer .footer-item {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}
.footer .footer-item p {
    font-size: 17px;
    font-family: Arial;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.footer .footer-item span {
    font-size: 13px;
    font-family: PingFang SC;
    font-weight: 100;
    color: #FFFFFF;
    line-height: 19px;
    opacity: 0.4;
}
.footer .footer-item input {
    width: 192px;
    height: 30px;
    background: rgba(256,256,256,0.6);
    border-radius: 50px;
    margin-bottom:15px;
    box-sizing:border-box;
    outline:none;
    padding-left:20px;
    border:none;
    color:#fff;
}
.footer .footer-item button{
    width: 130px;
    line-height:33px;
    text-align: center;
    background: #43ee0f;
    border-radius: 17px;
    font-size: 10px;
    color: #fff;
    cursor: pointer;
    outline: none;
    border: none;
}
.footer .footer-item img {
    margin-top: 34px;
    width: 127px;
}
.footer-logo {
    width: 97px;
    margin-bottom: 30px;
}
.footer-logo img {
    width: 100%;
}
.footer-logo .footer-logo-line {
    margin-top: 17px;
    width: 34px;
    height: 4px;
    background: #B0DB00;
}